$blue: #398ce5;
$lightBlue: #3ca3f5;
$orange: #ff7200;
$red: #c72b1f;
$lightred: #df3434;

// 等待删除
$gray: red;
$black: red;
$white: red;
$lightGray: red;
$lightenGray: red;
$border: red;
$lightBorder: red;
$lightenBorder: red;
$lightestBorder: red;
$background: red;
$lightBackground: red;
$lightFont: red;
$lightenFont: red;
$lightestFont: red;
$placeholder: red;
$lightenBlue: red;
$lightestBlue: red;
